<mat-card class="summoner-card-container">

    <div class="summoner-input-container">
        <server-list (onSubmitServer)="selectServer($event)"></server-list>

        <mat-form-field class="example-full-width">
            <mat-label>Enter Summoner Name</mat-label>
            <input matInput placeholder="Doublelift" [(ngModel)]="summonerName">
        </mat-form-field>
    </div>

    <div class="summoner-button-container">
        <button 
            class="btn btn-primary" 
            [routerLink]="['/profile', selectedServer, summonerName]"
            [disabled]="!summonerName && !selectedServer">
            Find Summoner
        </button>
    </div>
</mat-card>